body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e0e1e2;
}

.ui.form {
  margin-bottom: 15px;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] {
  border-width: 2px;
}
.ui.table.table tr th {
  border-left: 1px solid rgba(222, 222, 222, 0.43);
}
.ui.table thead th {
  background: #404040 -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #404040 -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: #404040 linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  color: #FFF;
}
