body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e0e1e2;
}


// semantic UI overrides
.ui {
  &.form {
    margin-bottom: 15px;

    input {
      &:not([type]),
      &[type="date"],
      &[type="datetime-local"],
      &[type="email"],
      &[type="number"],
      &[type="password"],
      &[type="search"],
      &[type="tel"],
      &[type="time"],
      &[type="text"],
      &[type="file"],
      &[type="url"] {
        border-width: 2px;
      }
    }
  }

  &.table {
    &.table tr th {
      border-left: 1px solid rgba(222, 222, 222, 0.43);
    }

    thead th {
      background: lighten(#000, 25) -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      background: lighten(#000, 25) -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      background: lighten(#000, 25) linear-gradient(transparent, rgba(0, 0, 0, 0.05));
      color: #FFF;
    }
  }
}
